@import 'node_modules/@wordpress/base-styles/breakpoints';
@import 'node_modules/@wordpress/base-styles/mixins';

:root {
	--mega-menu-header-height: 0;
}

@include break-mobile {
	.mega-menu {
		.wp-block-navigation,
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open),
		.wp-block-navigation__responsive-dialog {
			position: static;
		}

		.wp-block-navigation {
			.has-child {
				position: static;

				.wp-block-navigation-submenu__toggle[aria-expanded='true'] {
					+ .wp-block-navigation__submenu-container {
						align-items: flex-start;
						display: grid;
						gap: 1rem;
						grid-template-columns: 26% 1fr 1fr 35%;
						grid-auto-rows: min-content;
						min-height: 26.5625rem;
						padding: 2rem;
						left: 0;
						top: var(--mega-menu-header-height);
						right: 0;

						&::after {
							content: '';
							display: block;
							grid-column-end: -1;
							grid-row-start: 1;
							grid-row-end: -1;
						}
					}
				}

				.wp-block-navigation-item:first-child {
					font-size: var(--wp--preset--font-size--5);
					font-weight: 700;
					grid-row-start: 1;
					grid-row-end: span 2;
				}

				.wp-block-navigation-item:not(:first-child):nth-child(even) {
					grid-column-start: 2;
				}

				.wp-block-navigation-item:not(:first-child):nth-child(odd) {
					grid-column-start: 3;
				}

				:where(.wp-block-navigation__submenu-container) {
					.wp-block-navigation-item__content {
						padding: 0;
					}
				}
			}
		}
	}
}
