$accordion-item-border-color: var(--wp--preset--color--gray-2, #e6e6e6);
$accordion-item-icon-color: var(--wp--preset--color--blue-base, #0071bc);

.accordion__item {
	border-bottom: 1px solid $accordion-item-border-color;
}

.accordion__heading {
	font-weight: 700;
	margin: 0;
}

.accordion__toggle {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	// Stylelint is trying to prevent things like 'bold' here,
	// which is fair, but there's no numeric equivalent for
	// 'undo the browser's default styles'
	// stylelint-disable-next-line font-weight-notation
	font-weight: unset;
	justify-content: space-between;
	padding: 1rem 4rem 1rem 1rem;
	position: relative;
	text-align: left;
	transition: all 200ms ease-out;
	width: 100%;
}

.accordion__drawer {
	background-color: var(--wp--preset--color--white, #fff);
	display: none;
}
