@import "node_modules/@wordpress/base-styles/breakpoints";
@import "node_modules/@wordpress/base-styles/mixins";

.cards {
	display: grid;
	gap: var(--wp--style--block-gap, 1.5rem);

	@include break-small {
		&.cards--columns-2,
		&.cards--columns-3,
		&.cards--columns-4 {
			grid-template-columns: 1fr 1fr;
		}
	}

	@include break-large {
		&.cards--columns-3 {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@include break-xlarge {
		&.cards--columns-4 {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}

.card__media {
	order: -1;

	a {
		display: block;
		height: 100%;
		width: 100%;
	}

	img {
		width: 100%;
	}
}

.card__body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
