// @file
// Styles for accessible skiplinks.

.skiplinks {
	display: flex;
	font-family: var(--wp--preset--font-family--system, sans-serif);
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.skiplinks__link,
.skiplinks__link:visited,
.skiplinks__link:focus {
	background-color: var(--wp--preset--color--gray-6, #454545);
	border: 2px solid var(--wp--preset--color--gray-1, #f1f1f1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	color: var(--wp--preset--color--white, #fff);
	display: inline-block;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	outline: 0;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

// The combination of selectors here means Stylelint is not happy
// regardless of the order they're in.
// stylelint-disable no-descending-specificity
.skiplinks__link {
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
	word-wrap: normal !important;

	&:focus,
	&:active {
		clip: auto !important;
		height: auto !important;
		overflow: visible !important;
		position: static !important;
		width: auto !important;
	}
}
// stylelint-enable no-descending-specificity

// Remove :focus styles for skiplink targets.
// stylelint-disable-next-line selector-max-id
#main:focus {
	outline: 0;
}
