// Unfortunately, doesn't look like @wordpress/base-styles
// supports @use yet.
@import "node_modules/@wordpress/base-styles/breakpoints";
@import "node_modules/@wordpress/base-styles/mixins";

.back-to-top {
	display: none;

	@include break-small {
		align-items: center;
		bottom: 1.25rem;
		display: flex;
		height: 4.375rem;
		justify-content: center;
		position: fixed;
		right: 1.25rem;
		width: 4.375rem;

		&[aria-hidden="true"] {
			opacity: 0;
		}
	}
}

.back-to-top__icon {
	fill: currentcolor;
	height: 1.375rem;
	width: 2.1875rem;
}
